
body{
    background-color:aliceblue;
    margin: 0;   
    width: 100%; 
    font-size: calc(.5em -1vw);
    font-family: Arial, Helvetica, sans-serif
}
html {
  scroll-behavior: smooth;
}
.logo{
    flex-basis: 10%;/*vel. flex.it duz gl. osi kont */
}
.logo img{
    width: 170px;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap; /*sazima bijeli prostor kao normalan , potiskujeprijelome redaja unutar izvor */
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

::-webkit-scrollbar{

    height:auto;
    background: #fff;
 
}
::-webkit-scrollbar-thumb{

    height:auto;
    background: #212121;
 
}
 
  /* On smaller screens, decrease text size */
 .container {
    display: block;
    text-align: center;
    width: auto;
  }
  
.buton{
    background-color: rgb(58, 58, 243);
    color:aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 25px;
 }
  
.buton:hover{
    opacity: 0.8;
 }
 input[type=text], input[type=password] {
    padding: 14px 30px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
}

.selection_1{
  margin-top: 100px;
width: auto;
background-color:rgb(222, 240, 240);
height:fit-content;
}


.sel1{
  margin-top: 100px;
    text-align: center;
    min-width: none;
    width: auto;
}
.box{
    margin-top: 30px;
    width: 100%;
    display: block;
    color:aliceblue;
}
.box img{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.Brandovi{
  margin-top: 50px;
    align-content: space-evenly;
    position: relative;
    display: inline-block;
    flex-direction: column-reverse;
    text-align: center;
}
.Brandovi img{
    margin: 5px 10px;
    flex-direction: column-reverse;
}


