.desni_s {
    float: right;
    width: 20%;
    height: auto;
    position: sticky;
    top: 100px;
    margin-right: 70px;

  }
  main {
  float: left;
  width: 60%;
  height: 100%;
}
  #content {
    height:1000px;
  }

  @media screen and (max-width: 600px) {
    content *{
      width: 100%;
    }
}
