/* Create two unequal columns that floats next to each other */
* {
    box-sizing: border-box;
  }
.column {
    float: left;
    padding: 10px;
    height: auto; 
  }
.column h2:before {
    content:"• ";
}
.column *{
    margin-left: 100px;
}

  .left {
    width: 35%;
  }
  
  .right {
    width: 65%;
    margin-top: 110px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.column2{
    margin-top: 120px;
    margin-left: 35px;
    width: 75%;
    height: auto;
}
.column2 p{
    margin-left: 55px;
    flex-direction: column-reverse;
}
.column2:after{
    content: "";
    display: table;
    clear: both;
}

